---
body_class: schedule
title: Schedule
---
= wrapped :article do
  %header
    %h2 Schedule

  .schedules
    %ul.legend
      - (8..22).step(0.5) do |hour|
        %li
          = float_to_time hour

    %ul.days
      %li(class="friday")
        %strong Friday
        %ul= partial 'partials/sessions', :locals => {:sessions => data.schedule['friday']}

  %p
    Friday daytime comprises multiple tracks at eurucamp, of which JRubyConf EU
    is considered
    = succeed '.' do
      = link_to 'one track', 'http://2012.eurucamp.org/schedule'

  %h3 Saturday and Sunday
  %p
    If you’re joining us on Saturday and Sunday for the eurucamp main sessions,
    = succeed '.' do
      = link_to 'check the eurucamp schedule', 'http://2012.eurucamp.org/schedule'
